/*.benefits__pictures{
    display: flex;
    justify-content: space-between;
   
}


.benefits{
    margin-bottom: 118px;
}
.benefits__list{
    display: flex;
    align-items: flex-start;
}
.benefits__block::before{
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    display: block;
    background-image: url(../../img/before-imgs/Vector.png);
    content: '';
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: center;
    margin-bottom: 30px;
}
.benefits__block:nth-child(2):before{
    background-image: url(../../img/before-imgs/clock\ 1.png);
}
.benefits__block:nth-child(3):before{
    background-image: url(../../img/before-imgs/diagram\ 1.png);
}
.benefits__block:nth-child(4):before{
    background-image: url(../../img/before-imgs/astronaut\ 1.png);
}
.benefits__block:not(:last-child){
    margin-right: 30px;
}
.benefits__name{
    color: $title-text-color;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 700;
    letter-spacing: 0.42px;
    
}
.benefits__text{
    color: $primary-text-color;
    font-size: 14px;
    font-family: Roboto;
    letter-spacing: 0.42px;
    font-weight: 400;
    line-height: 24px;
}
*/
.benefits__text { 
    color: $primary-text-color; 
    font-size: 14px; 
    font-family: Roboto; 
    letter-spacing: 0.42px; 
    font-weight: 400; 
    line-height: 24px; 
  } 
  .benefits__name { 
    color: $title-text-color; 
    font-size: 14px; 
    font-family: Roboto; 
    font-weight: 700; 
    letter-spacing: 0.42px; 
  } 
  .benefits { 
    margin-bottom: 118px; 
  } 
  .benefits__list { 
    display: block; 
    align-items: center; 
  } 
  .benefits__block { 
    margin-top: 30px; 
    max-width: 420px; 
    min-width: 290px; 
  } 
  .benefits__block::before { 
    max-width: 420px; 
    min-width: 290px; 
    height: 120px; 
    background-color: #f5f4fa; 
    display: block; 
    background-image: url(../../img/before-imgs/Vector.png); 
    content: ""; 
    background-repeat: no-repeat; 
    background-size: 70px; 
    background-position: center; 
    margin-bottom: 30px; 
  } 
  .benefits__block:nth-child(2):before { 
    background-image: url(../../img/before-imgs/clock\ 1.png); 
  } 
  .benefits__block:nth-child(3):before { 
    background-image: url(../../img/before-imgs/diagram\ 1.png); 
  } 
  .benefits__block:nth-child(4):before { 
    background-image: url(../../img/before-imgs/astronaut\ 1.png); 
  } 
  @media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx){
  .benefits__block::before{
    background-image: url(../../img/before-imgs/vector-2x.png);
  }
  .benefits__block:nth-child(2):before { 
    background-image: url(../../img/before-imgs/clock\ 1-2x.png); 
  } 
  .benefits__block:nth-child(3):before { 
    background-image: url(../../img/before-imgs/diagram\ 1-2x.png); 
  }
  .benefits__block:nth-child(4):before { 
    background-image: url(../../img/before-imgs/astronaut\ 1-2x.png); 
  }
}
  @media screen and (min-width: 767px) { 
    .benefits__list { 
      display: flex; 
      flex-wrap: wrap; 
      align-items: center; 
      justify-content: space-between; 
    } 
    .benefits__block { 
      width: 354px; 
    } 
    .benefits__block:nth-child(2) { 
      margin-top: 30px; 
    } 
    .benefits__block::before { 
      width: 354px; 
      height: 120px; 
    } 
  } 
   
  @media screen and (min-width: 1200px) { 
    .benefits__pictures { 
      display: flex; 
      justify-content: space-between; 
    } 
    .benefits { 
      margin-bottom: 118px; 
    } 
    .benefits__list { 
      display: flex; 
      align-items: flex-start; 
    } 
    .benefits__block { 
      width: 270px; 
    } 
    .benefits__block::before { 
      max-width: 270px; 
      min-width: 270px; 
    } 
   
    .benefits__name { 
      color: $title-text-color; 
      font-size: 14px; 
      font-family: Roboto; 
      font-weight: 700; 
      letter-spacing: 0.42px; 
    } 
    .benefits__text { 
      color: $primary-text-color; 
      font-size: 14px; 
      font-family: Roboto; 
      letter-spacing: 0.42px; 
      font-weight: 400; 
      line-height: 24px; 
    } 
  }