.always__last-section-list{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin-left: -30px;
}
.always__last-section-item{
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $icon-fill;
    border-radius: 4px;
    &:hover,
    &:focus{
        border: 1px solid $background-button-color;
    }
}
.always__last-section-div{
    width: 170px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;  
    box-sizing: border-box; 
}
.always__last-section-svg{
    width: 106px;
    height: 60px;
    border: 1px solid $icon-fill;
    border-radius: 4px;
    fill: $icon-fill;  
    transition: border-color 250ms var(--time-function), fill 250ms var(--time-function);
    &:hover,
    &:focus{
        fill: $background-button-color;
    }
}

.always__svg-hover-img-size{
    margin-top: 60px;
}
.always-clients{
    padding-top: 94px;
    background-color: $primary-background-color;

}
.always__title{
    text-align: center;
    margin-top: 94px ;
    color: #212121;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}