$primary-text-color:#757575;
$title-text-color:#212121;
$secondary-text-color:#fff;
$background-button-color:#2196f3;
$primary-background-color:#fff;
$team-color:#F5F4FA;
$logo-color:#000;
$secondary-background-color:#2F303A;
$port-button-color:#EEEEEE;
$icon-fill:#AFB1B8;
$background-color-after:#135285;
$time-function: cubic-bezier(0.4, 0, 0.2, 1); 
